table {
    thead {
        th:first-child {
            width: 180px;
        }
        th {
            .fa {
                font-size: 25px;
            }

            .fa-sort-up {
                color: black;
            }
        }
    }
}
